<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conclusão</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Conclusão do Projeto</h1>
    </header>
    

    <!-- Conteúdo da página -->
    
    <!-- Rodapé -->
    <footer class="site-footer">
        <p>Rodapé - <a href="/">Página Inicial</a> | <a href="/objetivos">Objetivos</a> | <a href="/desenvolvimento">Desenvolvimento</a> | <a href="/conclusao">Conclusão</a></p>
    </footer>
</body>
</html>
