body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #808080; /* Cor cinza */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.site-footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.site-footer a:hover {
    border-bottom: 2px solid #fff;
}
